body {
    background-color: rgba(255,0,0,1.0);
}

h1,h2,h3 {
    font-family: "Roboto", fantasy;
    font-weight: 200;
}

h1 {
    background-color: #ffffff;
    text-align: center;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}

h3 {
    color: plum;
}

li {
    font-family: sans-serif;
    font-size: 20px;
}

ul li {
    background-color: aquamarine;
}

ol li {
    list-style: lower-greek;
}

img{
    width: 200px;
   /* height: 300px; */
    padding: 20px;
    border-width: 10px;
    border-color: white;
    border-style: solid;
    border: 10px white solid;
    margin-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

header{
    width: 960px;
    border: 1px white solid;
    padding: 10px;
    margin-top: -7px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

main{
    width: 960px;
    border: 1px white solid;
    padding: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin: 0 auto; /*top and bottom 0 and left and right auto*/


}

footer{
    width: 960px;
    height: 10px;
    border: 1px white solid;
    padding: 10px;
    margin: 0 auto;



}

nav{
    background-color: white;


}

nav ul {
    margin-left: -40px;
    display: grid;
    grid-template-columns: 100px 100px 100px 1000px;
    grid-template-rows: auto;
    gap: 20px;
    justify-content: space-between;

}

nav ul li {
    list-style: none;


}

nav uli li a {
    


}

nav ul li a:hover {
    
}



.inline{
    display: inline-block;
}
